<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article">
    <h1 class="Middle-title" th:text="${author.name}">Борис Васильевич Бедный
    </h1>
    <article class="Article">
        <div class="sdf">
        </div>
        <div class="Spoiler">
            <div class="Spoiler-visible">
                <div class="pict pict_left"><img th:src="${author.photo}" th:alt="${author.name}" />
                </div>
                <div>
                    <h2>Биография
                    </h2>
                    <p th:text="${#strings.substringBefore(author.description, 'Spoiler-Hide')}"></p>
                </div>
            </div>
            <div class="Spoiler-hide">
                <p th:text="${#strings.substringAfter(author.description, 'Spoiler-Hide')}"></p>
            </div>
            <div class="Spoiler-footer">
                <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть"
                        data-hidetext="Показать полностью">
                </button>
            </div>
        </div>
    </article>
</div>
</html>