<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bookSlider">
    <div class="Section-header">
        <h2 class="Section-title" th:text="${title}">
        </h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" th:attr="data-load=${dataLoad}" data-loadoffset="0" data-loadlimit="6">
            <div class="Slider-item" th:each="book: ${books}">
                <div class="Slider-content">
                    <div class="Card">
                        <div class="Card-picture">
                            <a th:href="@{'/books/book/' + ${book.slug}}">
                                <img th:src="${book.image}" alt="card.jpg"/>
                            </a>
                        </div>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a th:href="@{'/books/book/' + ${book.slug}}" th:text="${book.title}"></a>
                            </strong>
                            <div class="Card-description" th:text="${book.author.name}"></div>
                            <div class="Card-cost">
                                <span class="Card-priceOld" th:if="${book.priceOld != book.price}" th:text="${book.priceOld}">₽300.00</span>
                                <span class="Card-price" th:text="${book.price}">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate">
            </div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных
            </div>
        </div>
    </div>
</div>
</html>