<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Cards">
        <div class="Card" th:each="book: ${books}">
            <div class="Card-picture">
                <a href="#a" th:href="@{'/books/book/' + ${book.slug}}" >
                    <img th:src="${book.image}" alt="card.jpg"/>
                </a>
            </div>
            <div class="Card-content">
                <strong class="Card-title">
                    <a th:href="@{'/books/book/' + ${book.slug}}"  th:text="${book.title}"></a>
                </strong>
                <div class="Card-description" th:text="${book.author.name}"></div>
                <div class="Card-cost">
                    <span class="Card-priceOld" th:if="${book.priceOld != book.price}" th:text="${book.priceOld}">₽300.00</span>
                    <span class="Card-price" th:text="${book.price}">₽190.00</span>
                </div>
            </div>
        </div>
    </div>
<!--    не показывать кнопку если нечего показывать-->
    <div class="Cards-footer Cards-footer_center" th:if="${showMoreButton}">
        <a class="btn btn_primary" href="#"
           data-refreshoffset="0"
           data-refreshlimit="5"
           th:attr="data-refreshquery = ${searchWordDto.example}, data-refreshshow = ${sourcePage}, data-refreshid = ${refreshId}">
        Показать еще</a>
    </div>
</div>
</html>