<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<ul class="breadcrumbs" th:fragment="breadcrumps(category, books)">
    <li class="breadcrumbs-item"><a th:href="@{/}" href="/index.html">Главная</a></li>
    <li class="breadcrumbs-item"><a th:href="@{/genres}" href="/genres">Книги</a></li>
    <li class="breadcrumbs-item breadcrumbs-item_current" th:text="${category}"></li>
</ul>
</html>
