<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="Footer" th:fragment="footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/genres/index.html" th:href="@{/genres}" th:text="#{topbar.genres}">Жанры</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/books/recent.html" th:href="@{/api/books/recent}" th:text="#{topbar.news}">Новинки</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/books/popular.html" th:href="@{/api/books/popular}" th:text="#{topbar.popular}">Популярное</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/authors/index.html" th:href="@{/authors}" th:text="#{topbar.authors}">Авторы</a>
          </li>
        </ul>
      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" href="/signin.html" th:href="@{/signin}">Войти</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/documents/index.html" th:href="@{/documents}">Документы</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/about.html" th:href="@{/about}">О компании</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/faq.html" th:href="@{/faq}">Помощь</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/contacts.html" th:href="@{/contacts}">Контакты</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2021 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
</footer>
</html>