<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">

    <div th:each="tagCount : ${tagCounts}"
         th:class="${tagCount.tagSize}">
        <a th:href="@{'/books/tags/' + ${tagCount.tagId}}" th:text="${tagCount.tagName}"></a>
    </div>

</div>
</html>