<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.recent.title}">Новинки</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780">
    <!-- [if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $("#locales").val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

    <script defer src="/assets/js/scripts.min.js?v=52263780"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(recent='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category='Новинки', books=${recentBooks})}"></ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title">Новинки
                    </h1>
                    <form class="form form_inline Section-header-form" action="#" method="post">
                        <div class="form-group">
                            <label class="form-label">с
                            </label>
                            <input class="form-input form-input_date form-input_date_uninit" id="fromdaterecent"
                                   name="fromdaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshshow="changedate" data-refreshfrom="0"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label">по
                            </label>
                            <input class="form-input form-input_date form-input_date_uninit" id="enddaterecent"
                                   name="enddaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshshow="changedate" data-refreshto="0"
                                   autocomplete="off"/>
                        </div>
                    </form>
                </div>
                <div class="Cards Cards_refresh"
                     th:replace="~{fragments/books_pool_fragment :: pool(sourcePage=${sourcePage},
                     category='recent',title='Новинки',
                     books=${recentBooks},
                     searchWordDto=${searchWordDto}, from=${from}, to=${to})}"></div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>